<footer>
    <img class="line-break" src="images/line-break.png" alt="">
    <img class="line-break-right" src="images/line-break.png" alt="">
  <div class="container-fluid">
      <h4>Contact Me</h4>
      <a target="_blank" href="https://www.facebook.com/kayla.kossajda">
      <i class="media fab fa-facebook-f fa-2x"></i>
      </a>
      <a target="_blank" href="https://www.instagram.com/kaylakossart/">
      <i class="media fab fa-instagram fa-2x"></i>
      </a>
      <a href="mailto:kkossajda@gmail.com">
      <i class="media fas fa-envelope fa-2x"></i>
      </a>
  </div>
</footer>
<script type="text/javascript" src="js/upload.js"></script>
</body>
</html>
