<section id="biography" class="colored">
  <img class="logoEdge" src="images/kaylalogogreen.png" aria-hidden />
  <img class="logoEdgeRight" src="images/kaylalogogreen.png" aria-hidden />
  <div class="row left">
<div class="col-sm-4">
    	<img class="bio-icon" src="images/notebook.png" alt="notebook icon" />
    </div>
    <div class="col-sm-8">
    	<h3>How I got started</h3>
      	<p>Growing up I always admired my mother for her tasteful style.  She was always decorating and redesigning her home in the most creative and artistic ways.  She was my inspiration to become an artist.  I began sketching wild ideas, and anything that came into my mind.  Some of which I still cherish today. I developed a deep love for drawing in colored pencils and ink.  I lived with my sketchbook.</p>
    </div>
  </div>
	<div class="row right">
  	<div class="col-sm-4">
    	<img class="bio-icon left-icon" src="images/palette.png" alt="artist palette icon" />
    </div>
    <div class="col-sm-8">
    	<h3>Branching out to new media</h3>
      	<p>My love of art did not stop with my sketches.  Soon I began painting.  Although I love using acrylic paint on canvas, my favorite method is with water color on paper.  I love to make the paint splatter and soak in for cool effects!  In high school I finally managed to save up for a nice camera and I took that thing everywhere, photographing all my friends and all the beautiful places I could find.</p>
    </div>
  </div>
  <div class="row left">
  	<div class="col-sm-4">
    	<img class="bio-icon" src="images/computer.png" alt="computer icon" />
    </div>
    <div class="col-sm-8">
    	<h3>College and career</h3>
      <p>My choice of higher education was a no-brainer.  After a brief stint at an art school near my home town, I made a big move all the way the Nasvhille, Tennessee where I studied Commercial Illustration at the Nossi College of Art.  There I propelled my art to the next level learning software for digital art and design.  I have since had a few jobs designing in print media, but always maintained the passion for my practice.</p>
    </div>
	</div>
</section>

