<!DOCTYPE html>

<section id="biography" class="colored">
	<img class="logoEdge" src="images/kaylalogogreen.png" aria-hidden />
	<img class="logoEdgeRight" src="images/kaylalogogreen.png" aria-hidden />
	<article class="row left bio">
		<h3 id="aboutme">About Me</h3>
		<p>
			My art is about capturing beauty, love and special moments. Life has always been the key
			ingredient in my portfolio. Snapping photos of my sister and our family pets when I was young
			grew into a love of telling stories of the lives around me.
		</p>
		<p>
			My love of all things art led me to Nossi College of Art in Nashville where I developed my
			illustration style using my own photographs as reference.
		</p>
		<p>
			Art for me is not just about capturing moments; it's about creating connections and sharing
			stories that touch hearts and illuminate the beauty of our shared experiences. The objective is
			to capture your memories creatively through photographs and illustrations to be cherished
			forever.
		</p>
	</article>
</section>
