<!DOCTYPE html>

<section id="header">
  <nav class="navbar navbar-expand-md navbar-light">
    <a action="/" href="/"><img class="logo" src="<%= baseUrl %>/images/kaylalogosimple.png" /></a>
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a action="/photography" class="nav-link" href="/photography">Photography</a>
        </li>
        <li class="nav-item">
          <a action="/illustration" class="nav-link" href="/illustration">Illustration</a>
        </li>
        <li class="nav-item">
          <a action="/#aboutme" class="nav-link" href="/#aboutme">About Me</a>
        </li>
        <li class="nav-item admin">
          <a action="/upload" class="nav-link" href="/upload"><i class="fas fa-sign-in-alt"></i></a>
        </li>
      </ul>
  </nav>
</section>
