<%- include("partials/header") -%>

<section id="home" class="colored">
  <img class="logoEdge" src="images/kaylalogogreen.png" alt="">
  <img class="logoEdgeRight" src="images/kaylalogogreen.png" alt="">
  <!-- <div class="placeholder"></div> -->
  <div class="container-fluid">
    <img id="main" src="images/KaylaKossajdaLogocolor2.png"/>
      <h1>Welcome to my gallery!</h1>
      <div class="bio">
        <p>This is my site filled with all my favorite pieces of art.  I'm an artist of many disciplines, so I've separated each medium onto a different page.  On each page you'll find the different categories organized by their subject matter, and you can click on any thumbnail to see the full-size image of the artwork.  Drop me a line if you have an idea for a commissioned work, or if you just want to talk about art.  Be sure to follow me on social media to keep up to date with all my latest work.</p>
        <P>Thanks for visiting!</P>
      </div>
      <div class="call-action">
        <h4>Contact Me</h4>
        <a target="_blank" href="https://www.facebook.com/kayla.kossajda">
        <i class="media fab fa-facebook-f fa-2x"></i>
        </a>
        <a target="_blank" href="https://www.instagram.com/kaylakossart/">
        <i class="media fab fa-instagram fa-2x"></i>
        </a>
        <a href="mailto:kkossajda@gmail.com">
        <i class="media fas fa-envelope fa-2x"></i>
        </a>
      </div>
    </div>
</section>

<%- include("partials/carousel") -%>

<%- include("partials/info") -%>

<%- include("partials/footer") -%>
