<%- include("partials/header.ejs") %>

<section class="colored ">
  <div class="image-wrapper__full-size">
    <img class="full-size-image" src="<%= signedUrl %>"  alt=<%= artWork.title %> >
  </div>
</section>

<%- include("partials/footer.ejs") %>
