<%- include("partials/header") -%>

<div id="artwork-admin" data-state="<%= JSON.stringify(artWorks) %>"></div>
<script src="build/src/index.js" crossorigin></script>

<%- include("partials/footer") -%>

