html {
  scrollbar-color: #00334e #d8b9c3;
  scrollbar-width: thin;
}

body {
  font-family: "Kite One", sans-serif;
  text-align: center;
  min-height: 100vh;
  display: grid;
  grid-template-rows: max-content auto max-content;
}

#artwork-admin {
  display: contents;
}

h1 {
  font-family: "Dancing Script", cursive;
  color: #4d4c7d;
  line-height: 6rem;
  padding: 3% 0;
  font-size: 4rem;
}

h2 {
  font-family: "Dancing Script", cursive;
  color: #363062;
  padding: 2% 1% 0 3%;
  font-size: 3rem;
}

h2:nth-child(n + 1):first-letter {
  font-size: 5rem;
  letter-spacing: -3px;
}

h3 {
  color: #4d4c7d;
  font-family: "Open Sans", sans-serif;
}

p {
  color: #363062;
  font-size: 1.1rem;
  font-family: "Kite One", sans-serif;
  margin-top: 1rem;
  margin-bottom: 0;
}

li,
h4 {
  font-family: "Kite One", sans-serif;
}

dialog {
  border-radius: 0.5rem;
  border: none;
  box-shadow: 4px 4px 16px 8px rgba(0, 0, 0, 0.4);
}

dialog[open] {
  animation: modal-open 200ms forwards;
}

@keyframes modal-open {
  from {
    opacity: 0;
    translate: 0 -50%;
  }
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.dialog--wrapper {
  display: grid;
  gap: 1rem;
}

.colored {
  background-color: #ebecf1;
  background-image: url("https://www.transparenttextures.com/patterns/cream-paper.png");
  /* background-color: #d8b9c3; */
  color: #4d4c7d;
}

.call-action {
  padding: 7% 0 0;
}

#header {
  position: sticky;
  top: 0;
  width: 100%;
  background: linear-gradient(#64958f, #065c6f);
  z-index: 4;
  box-shadow: 0 0 5px 2px;
}

#home {
  position: relative;
  z-index: 0;
}

.container-fluid {
  text-align: center;
  padding: 2% 15% 2%;
}

.container-fluid.content {
  padding: 0 2% 3%;
  max-width: 100vw;
}

.navbar {
  padding: 0 3%;
}

.nav-item {
  text-align: right;
}

.admin {
  margin-left: 10px;
  padding-left: 10px;
  border-left: double;
}

.navbar-brand {
  color: #fff;
}

.heading {
  text-align: center;
}

.bio {
  padding: 0 15%;
}

#frontpage-carousel {
  position: relative;
  box-shadow: 0 0 5px 2px;
  z-index: 3;
}

.carousel {
  /* background: linear-gradient(170deg, #827397, #4d4c7d); */
  background-color: #4d4c7d;
  background-image: url(https://www.transparenttextures.com/patterns/padded.png);
  padding: 1% 7%;
}

.carousel-item {
  filter: drop-shadow(5px 5px 3px #1b1b2f);
}

.container-fluid.carousel-item {
  padding: 10px 0 20px;
}

footer {
  position: relative;
  background: linear-gradient(#145374, #00334e);
  color: #1a1c20;
  position: relative;
  z-index: 4;
  box-shadow: 0 0 5px 2px black;
}

.media {
  padding: 0 15px;
  color: #4d4c7d;
}

footer .media {
  color: #1a1c20;
}

.container-fluid .media {
  display: inline;
}

.social-media {
  padding-top: 1%;
}

a {
  color: #4d4c7d !important;
  text-decoration: none;
  font-family: "Kite One", sans-serif;
}

a.nav-link {
  color: black !important;
  font-family: "Open Sans", sans-serif;
}

a.nav-link:hover {
  color: #363062 !important;
}

a:hover {
  color: #363062 !important;
  text-decoration: none !important;
}

a:target {
  border: 5px solid white;
}

footer .container-fluid {
  padding: 1% 15%;
}

.line-break,
.line-break-right {
  max-width: 25%;
  margin-top: 20px;
  opacity: 50%;
  position: absolute;
}

.line-break-right {
  transform: rotateY(180deg);
  right: 3%;
}

.line-break {
  left: 3%;
}

.img-fluid {
  object-fit: cover;
  width: auto;
  height: 500px;
  border: 2px solid #1b1b2f;
  outline: #142850 solid 5px;
}

#main {
  max-width: 500px;
}

.logo {
  max-width: 100px;
}

.logoEdge {
  display: none;
}

.logoEdgeRight {
  display: none;
}

/* SIDESCROLL THUMBNAILS */

.thumbnail-section h2 {
  text-align: left;
}

.thumbnail-container {
  scrollbar-color: #00334e #d8b9c3;
  scrollbar-width: thin;
  overflow-x: auto;
  height: auto;
  padding: 2rem 1rem;
  text-align: left;
  /* background: linear-gradient(135deg, #4d4c7d, #363062); */
  background-color: #4d4c7d;
  background-image: url("https://www.transparenttextures.com/patterns/padded.png");
  /* background-image: url("https://www.transparenttextures.com/patterns/padded-light.png"); */
  border-radius: 10px;
  box-shadow: 0 0 3px 2px;
}

ul.thumbnail-list {
  margin-bottom: 0;
}

.thumbnail-list {
  white-space: nowrap;
  display: inline-block;
  padding: 0;
  filter: drop-shadow(3px 3px 3px black);
  width: 1rem;
}

.thumbnail-image {
  display: inline-block;
  margin: 2px 10px;
  height: 300px;
  width: auto;
}

.thumbnail-section {
  background-color: #827397;
  background-image: url(https://www.transparenttextures.com/patterns/black-thread-light.png);
  background-image: url(https://www.transparenttextures.com/patterns/flowers.png);
  background-image: url(https://www.transparenttextures.com/patterns/mirrored-squares.png);
  background-image: url(https://www.transparenttextures.com/patterns/swirl.png);
  background-image: url(https://www.transparenttextures.com/patterns/vichy.png);
  background-image: url(https://www.transparenttextures.com/patterns/xv.png);
  position: relative;
  padding-bottom: 3%;
  text-align: left;
  box-shadow: 0 0 5px 2px;
  min-height: 64vh;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #d8b9c3;
  box-shadow: inset 0 0 5px 2px #827397;
}

.thumbnail-container::-webkit-scrollbar-track {
  border-radius: 6px;
}

.thumbnail-container::-webkit-scrollbar {
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#145374, #00334e);
  border-radius: 6px;
}

/* FULLSCREEN IMAGE SECTION */

.image-wrapper__full-size {
  /* max-width: 100vw; */
  /* background: inherit; */
  min-height: 100%;
  display: grid;
  place-items: center;
}

.full-size-image {
  width: 100%;
  background-color: transparent;
}

/* ALERTS SECTION */

.alerts-container {
  position: fixed;
  bottom: 2rem;
  left: 2rem;
  z-index: 500;
}

.alert-toast {
  background-color: #827397;
  background-image: url(https://www.transparenttextures.com/patterns/xv.png);
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
  box-shadow: 8px 8px 16px 8px rgba(0, 0, 0, 0.4);
  border: 1px solid white;
}

.alert-message {
  font-size: 1.5rem;
  font-weight: bolder;
  margin-block: revert;
}

/* BIOGRAPHY SECTION */

#biography {
  padding: 5% 15%;
  position: relative;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
  display: flex;
  flex-direction: row-reverse;
}

.bio-icon {
  width: 100%;
  max-width: 250px;
}

#biography .row {
  margin-top: 5%;
}

/* /////////// Login Page ////////////// */

hr {
  width: 65%;
  height: 10px;
}

.login-form {
  /* background-color: #827397; */
  margin: 0 auto 7%;
  max-width: 500px;
  padding-top: 4rem;
}

.login-form .form {
  background-color: #d8b9c3;
  border-radius: 25px;
  box-shadow: 0 0 5px 3px;
  padding: 7% 5%;
  text-align: center;
}

#password,
#username {
  display: block;
  margin: 3% auto;
}

/* ////////Upload page/////////// */
.upload-section {
  padding: 2rem 0;
  background-color: #d8b9c3;
}

.upload-data {
  width: 100%;
  display: grid;
  /* grid-template-rows: auto repeat(3, 1fr) auto; */
  /* grid-template-columns: 1fr 1fr; */
  gap: 1rem;
}

.update-data {
  display: block;
}

.upload-data .img-preview {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  background-color: #d8b9c3;
  font-family: "Open Sans", sans-serif;
  padding-left: 12px !important;
  box-shadow: 1px 1px 4px 1px inset rgba(0, 0, 0, 0.4);
}

input::placeholder {
  color: #827397;
}

input.update {
  background-color: #827397;
}

input.update::placeholder {
  color: #4d4c7d;
}

#filename,
select,
/* .btn, */
input:not(#img, [class="radio"]),
.alert {
  min-width: 100%;
}

.wrapper {
  display: inline;
}

#img,
#imgDel {
  font-family: "Open Sans", sans-serif;
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

#fileName {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  border: 2px dashed #4d4c7d;
  border-radius: 0.5rem;
  padding: 1rem 1rem 0.5rem;
  font-size: 1.25rem;
  font-weight: bolder;
  color: #363062;
  transition:
    opacity 75ms,
    border-color 75ms,
    background-color 75ms;
}

#fileName.is-dragged-over {
  opacity: 0.5;
  border-color: #d8b9c3;
  background-color: rgba(255, 255, 255, 0.1);
}

#fileName .btn {
  cursor: pointer;
  color: white;
  background-color: #363062;
  min-width: fit-content;
}

.upload-image-placeholder {
  height: 250px;
  display: grid;
  place-items: center;
}

.drag-image-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  align-self: flex-end;
}

.upload-image-placeholder i {
  font-size: 3rem;
  color: #363062;
}

#img:focus + label,
#fileName .btn:hover {
  background-color: #4d4c7d !important;
}

#fileName:focus {
  outline: auto;
}

.image-preview-container {
  position: relative;
  min-height: 250px;
}

.image-preview-container button {
  background: transparent;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.image-preview-container button i {
  color: black;
}

.image-preview-container * {
  transition:
    color 75ms,
    background-color 75ms;
}

.image-preview-container button:hover,
.image-preview-container button:focus {
  background-color: rgba(0, 0, 0, 0.4);
}

.image-preview-container button:hover i,
.image-preview-container button:focus i {
  color: white;
}

.del-label {
  font-size: 1.25em;
  color: white;
  background-color: #363062;
  display: block;
  cursor: pointer;
  cursor: default;
  margin: 2% 40px 0 40px;
}

.btn-primary {
  margin: 2% 0 0;
}

.btn:not(:disabled) {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.alert {
  display: block;
  margin: 2% 40px 0;
}

.btn-danger,
.btn-info,
.btn-outline-info,
#fileName .btn,
.alert,
.btn-success,
.btn-primary {
  font-family: "Open Sans", sans-serif;
}

.del-label:focus,
.del-label:hover {
  color: white;
}

ul {
  list-style: none;
}

li {
  margin: 10px 0;
}

#preview {
  max-width: 100%;
  width: fit-content;
  max-height: 250px;
  object-fit: contain;
}

.upload-form {
  background-color: #827397;
  background-image: url(https://www.transparenttextures.com/patterns/xv.png);
  border-radius: 1rem;
  margin: 0 auto;
  text-align: left;
  box-shadow: 0 0 5px 2px;
}

.delete-form {
  background-color: #d8b9c3;
  border-radius: 1rem;
  margin: 1rem auto;
  text-align: left;
  box-shadow: 0 0 5px 2px;
}

.upload-form,
.delete-form {
  max-width: 1000px;
  width: 90%;
  padding: 2rem;
}

.edit-art-container {
  width: 100%;
}

.delete-confirmation--content {
  padding: 1rem;
  display: grid;
  gap: 1rem;
}

.delete-confirmation--content h4 {
  text-align: center;
}

.delete-confirmation--content .delete--thumbnail {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.delete-confirmation--content .delete--thumbnail img {
  box-shadow: 3px 2px 8px 3px rgba(0, 0, 0, 0.5);
  max-width: 100%;
}

.confirmation-dialog--buttons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0 1rem;
}

.thumbnail-section.delete {
  min-height: auto;
  padding: 2rem 0;
  box-shadow: 0 0 3px 1px black;
}
.form-data {
  padding-top: 5px;
}

.dropdown-item {
  background-color: #d8b9c3;
}

label.btn-sm {
  background-color: #363062;
  color: white;
  min-width: 130px;
}

.radio-btn-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0 0.5rem;
  border-radius: 0.25rem;
}

.radio-btn-container:has(:focus-visible) {
  outline-offset: 2px;
  outline: auto;
}

.form-field--group {
  display: grid;
  gap: 0.5rem;
}

label.radio:hover {
  background-color: #4d4c7d;
}

input.radio {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

input.radio:checked + label {
  background-color: #4d4c7d !important;
  outline: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow: none;
}

label.radio {
  display: inline-block;
  background-color: #363062;
  color: white;
  min-width: 130px;
}

.selected {
  background-color: #4d4c7d !important;
  border: 1px solid white;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.subcat {
  border-radius: 4px;
  border-style: none;
  height: 38px;
  text-align: left;
}

.fa-upload,
.fa-trash,
.fa-search {
  padding-right: 5px;
  opacity: 70%;
}

.hidden {
  display: none !important;
}

.img {
  transition: opacity 75ms;
}

.img:hover {
  cursor: pointer;
  opacity: 75%;
}

.fa-check {
  display: none;
}

.img-clicked {
  outline: 3px solid green;
}

/* MEDIA QUERY TABLET SIZE */

@media (max-width: 800px) {
  h1 {
    font-size: 2.5rem;
    line-height: 3rem;
  }

  h4 {
    font-size: 1.2rem;
  }

  p {
    font-size: 1rem;
  }

  .navbar {
    padding: 1% 3%;
  }

  .placeholder {
    height: 2rem;
  }

  .colored .container-fluid {
    padding: 100px 15% 2%;
  }

  .carousel {
    padding: 0;
  }

  .img-fluid {
    max-height: 300px;
    max-width: 90%;
  }

  .bio {
    text-align: left;
    padding: 2%;
  }

  #main {
    max-width: 400px;
  }

  #biography {
    padding: 4% 4% 6%;
    text-align: left;
  }

  .logo {
    padding-left: 0;
  }

  .right {
    text-align: left;
  }

  .carousel-control-prev-icon {
    display: none;
  }
  .carousel-control-next-icon {
    display: none;
  }

  .login-form {
    margin: 0 3% 5%;
    padding: 3%;
  }

  .login-form .form {
    margin-top: 3%;
  }

  .img-preview {
    text-align: center;
  }

  .admin {
    border: none;
  }
}

/* MEDIA QUERY SMALL TABLET  */
@media (max-width: 700px) {
  #main {
    max-width: 300px;
  }

  .colored .container-fluid {
    padding: 100px 5% 2%;
  }
}

/* MEDIA QUERY MOBILE PHONE SIZE */
@media (max-width: 500px) {
  #main {
    max-width: 94vw;
  }

  h2 {
    font-size: 2.5rem;
  }

  h2:nth-child(n + 1):first-letter {
    font-size: 3rem;
  }

  .colored .container-fluid {
    padding: 80px 3% 2%;
  }

  .navbar-nav > li {
    margin: 0;
    display: table-row;
  }

  a.nav-link {
    display: inline-block;
  }

  .bio-icon {
    width: 50%;
  }

  .thumbnail-image {
    max-height: 200px;
  }

  .thumbnail-section {
    margin-right: 0;
    padding-right: 0;
    padding-left: 0;
  }

  .thumbnail-container {
    margin: 1rem 0;
    padding: 1rem 0.5rem;
  }

  .line-break,
  .line-break-right {
    display: none;
  }

  /* label, */
  select,
  .btn:not(label),
  input:not(#img, [type="radio"]),
  .alert {
    display: block;
    min-width: inherit;
    width: 100%;
  }

  .flex-container {
    justify-content: center;
  }

  form ul {
    padding: 2%;
    margin: 0;
  }

  input.img-edit,
  .hidden {
    display: none;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  .upload-form,
  .delete-form {
    padding: 1rem;
  }

  #fileName {
    font-size: 1.05rem;
  }
}

/* MEDIA QUERY EXTRA LARGE */
@media (min-width: 1200px) {
  .logoEdge {
    left: 0;
    top: 0;
    position: absolute;
    opacity: 65%;
    display: block;
    overflow: hidden;
    height: 100%;
    object-fit: contain;
  }
  .logoEdgeRight {
    transform: rotate(180deg);
    position: absolute;
    right: 0;
    top: 0;
    opacity: 65%;
    display: block;
    overflow: hidden;
    height: 100%;
    object-fit: contain;
  }

  #biography .logoEdge,
  #biography .logoEdgeRight {
    top: 0;
  }

  #upload .logoEdge,
  #upload .logoEdgeRight {
    height: auto;
  }

  .upload-form,
  .delete-form {
    margin: 0 auto;
    position: relative;
    z-index: 1;
    padding: 2rem;
  }

  .bio {
    padding: 0 20%;
  }

  .navbar {
    padding: 0 10%;
  }

  #biography {
    padding: 5% 25%;
  }
}
